.photo-profile{
    border-radius: 50px;
    width: 150px;
    height: 150px;
}
.edit-profile{
    margin-left: 10%;
}
.change-photo{
    margin-left: 35px;
    width: 50px;
    height: 40px; 
}
.bold-title{
    font-weight: bold;
}
.text-profile{
    width: 100%;
}