.photo-profile{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.edit-profile{
    margin-left: 30%;
}
.change-photo{
    margin-left: 35px;
}
.bold-title{
    font-weight: bold;
}
.text-profile{
    width: 100%;
}