input{
    margin: 5px;
    border-radius: 10px;
    border-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary);
    padding: 20px;
    width: 97%;
}
.btn{
    position: absolute;
    right: 0;
}

